{% extends 'base.html' %}
{% block content %}
<img class="main-image" src="../../static/backgroundimage.png" alt="Main Image">
<div id="history-bar">
    <div class="m-0 text-white" style="font-size: 40px;">2020</div>
    <br>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
</div>
{% endblock %}