{% extends 'base.html' %}
{% block content %}
<img class="main-image" src="../../static/backgroundimage.png" alt="Main Image">
<div id="introduce-bar">
    <div class="m-0 text-white">우리는 이렇게 일합니다.</div>
    <br>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
    <div class="m-0 text-white">주저리 주저리</div>
</div>
{% endblock %}
