{% extends 'base.html' %}
{% block content %}
<div class="container px-4 px-lg-5">
{% if productList %}
    {% for product in productList %}
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7">
                {% with default_image_url="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" %}
                    <img class="img-fluid rounded mb-4 mb-lg-0" id="Product_Image_{{ product.name }}"
                         src="{% if product.image %}{{ product.image.url }}{% else %}{{ default_image_url }}{% endif %}"
                         alt="Product Image" />
                {% endwith %}
            </div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">{{ product.name }}</h1>
                <p>{{ product.description }}</p>
                <a class="btn btn-primary" href="../{{ product.name }}">상품 상세보기</a>
            </div>
        </div>
        <script>
        document.getElementById("Product_Image_{{ product.name }}").onclick = function() {
            window.location.href = "../{{ product.name }}";
        };
        </script>
    {% endfor %}
{% else %}
    <p>content가 없습니다.</p>
{% endif %}
</div>
{% endblock %}