#submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(10, 10, 10, 0.4);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100%;
}

#submenu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#submenu a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

#submenu > div {
    position: relative;
    z-index: -1; /* Ensure the submenu appears above other elements */
    text-align: center; /* Center align the content inside each div */
}

#submenu table {
    width: 40%; /* Set the width of the table to 90% of the parent div */
    margin: 0 auto; /* Center align the table within the parent div */
    border-spacing: 5%; /* Set the column gap to 5% */
}

.collapse a{
    color: white;
}

.collapse a:hover{
    color: white;
}

.main-image {
    width: 100%;
    height: auto;
}

.slogan-bar {
    position: absolute;
    top: 20%;
    right: 15%;
    background-color: rgba(169, 169, 169, 0.4); /* Adjust the color and opacity as needed */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    height: 50%;
}

#introduce-bar{
    position: absolute;
    top: 70%;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%
}

#history-bar{
    position: absolute;
    top: 20%;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%
}

#information-bar{
    position: absolute;
    top: 20%;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%
}

#login-section {
    display: flex;
    align-items: center;
}

#login-section a {
    margin-left: auto; /* Push the login link to the right */
}

#signup-section {
    display: flex;
    align-items: center;
}

#signup-section a {
    margin-left: auto; /* Push the login link to the right */
}

#login-field {
    position: absolute;
    top: 40%;
    left: 10%;
    background-color: rgba(169, 169, 169, 0.4); /* Adjust the color and opacity as needed */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    height: 40%;
}

#signup-field {
    position: absolute;
    top: 40%;
    left: 10%;
    background-color: rgba(169, 169, 169, 0.4); /* Adjust the color and opacity as needed */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    height: 80%;
}

#login-box {
    position: absolute;
    top: 10%;
    left: 40%;
}

#login-button {
    position: absolute;
    top: 40%;
    left: 50%;
}

#quickNavigator {
    position: fixed;
    top: 40%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(20, 20, 20, 0.4);
    padding: 15px;
    color: white;
    text-align: center;
    width: 10%;
    border-radius: 3px;
}

#quickNavigator div {
    margin: 10px 0;
}

#quickNavigator a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

#quickNavigator a:hover {
    text-decoration: underline;
}

.quickNavigator-submenu {
    border-radius: 10px;
    border: 1px solid rgba(255,255,255);
}
